

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    }


nav {
    text-align: right;
}

h2 {
    color: blue;
    text-align: center;
        }

ul, ol {
    color:cadetblue;
}

blockquote {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 4em;
    }

#profile_pic    {
    float: right; width: 150px; height: 150px; overflow: hidden; border-radius: 50%; 
    object-fit: cover;
    object-position: 50% 30%;
    margin: 1em;
    border: 3px solid darkblue;
    } 

#profile_pic{ 
    -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
#profile_pic:hover, #profile_pic:focus, #profile_pic:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
    
footer {
    font-size: 12px;
    margin-top: 5em;
    text-align: center;
}


/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0 !important;
        }

    ul.icons.major {
        padding: 1em 0;
    }

        ul.icons.major li {
            padding-right: 3.5em;
        }

            @media screen and (max-width: 736px) {

                ul.icons.major li {
                    padding: 0 1em !important;
                }

            }


            .section {
                margin: 20px;
                padding: 10px;
            }
            
            .grid-gallery {
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                gap: 20px; 
                justify-content: space-between; 
                margin: 0 auto;
            }
            
            .grid-item {
                position: relative;
                overflow: hidden;
                aspect-ratio: 2 / 3; 
            }
            
            .grid-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition: transform 0.3s ease, opacity 0.3s ease;
            } 
            
            .grid-item:hover img {
                opacity: 0.3;
                transform: scale(1.1);
            }
            
            .grid-gallery-item-content {
                text-decoration: none;
                display: block;
                color: #16425B;
            }
            
            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            
            .grid-item:hover .overlay {
                opacity: 1;
            }
            
            .title {
                font-size: 20px;
                margin: 0;
            }
            
            .subtitle {
                font-size: 14px;
                margin: 0;
            }
            
            @media screen and (max-width: 900px) {
                .grid-gallery {
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap: 20px;
                }
            }


.cv {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  display: block;
  margin: auto;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cv:hover,
.cv:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.cv:active {
  background: var(--color);
  color: #fff;
}

/* Contact page responsive css */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

#contact *,
#contact *:before,
#contact *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#contact body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

/* Contact page */
/* .arch_contact_us_duplicate * {
    font-family: Nunito, sans-serif;
  } */
  
  .arch_contact_us_duplicate .icon-block svg {
    width: 100%;
    height: 100%;
  }
  
  .arch_contact_us_duplicate .icon-block {
    width: 30px;
    height: 30px;
  }
  
  .arch_contact_us_duplicate .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .arch_contact_us_duplicate .responsive-cell-block {
    min-height: 75px;
  }
  
  .arch_contact_us_duplicate .responsive-container-block.big-container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    background-color: #d8fff2;  /* Main background color of contact page */
  }
  
  .arch_contact_us_duplicate .responsive-container-block.container {
    max-width: 1100px;
    justify-content: space-evenly;
  }
  
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 60px;
    line-height: 65px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
  
  .arch_contact_us_duplicate .text-blk.section-subhead {
    font-size: 14px;
    line-height: 18px;
    color: #7e7e7e;
  }
  
  .arch_contact_us_duplicate .input {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    height: 54px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 16px;
    font-size: 16px;
  }
  
  .arch_contact_us_duplicate .textinput {
    width: 100%;
    height: 125px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 27px;
    margin-left: 0px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  
  .arch_contact_us_duplicate .button {
    height: 50px;
    min-width: 240px;
    font-size: 16px;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    background-color: #14365e; /* send button background color */
  }
  
  .arch_contact_us_duplicate .form-wrapper {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #cdefd6;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .arch_contact_us_duplicate .social-media-icon-container {
    display: flex;
    max-width: 400px;
    justify-content: space-evenly;
  }
  
  .arch_contact_us_duplicate .input-element {
    background-color: #c8ffe7;
  }
  
  .arch_contact_us_duplicate .icon-block.social-icon {
    fill: #1e4f61;
  }
  
  @media (max-width: 1024px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 55px;
      line-height: 60px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-between;
    }
  }
  
  @media (max-width: 768px) {
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
      text-align: center;
    }
  
    .arch_contact_us_duplicate .input {
      height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.container {
      justify-content: space-evenly;
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .arch_contact_us_duplicate .text-blk.section-head {
      font-size: 40px;
      line-height: 45px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .input {
      height: 40px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 80px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
      text-align: left;
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 30px;
      padding-bottom: 0px;
      padding-left: 30px;
    }
  
    .arch_contact_us_duplicate .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .arch_contact_us_duplicate .button {
      width: 100%;
    }
  
    .arch_contact_us_duplicate .button {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
      height: 50px;
    }
  
    .arch_contact_us_duplicate .form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 40px;
      margin-left: 0px;
    }
  
    .arch_contact_us_duplicate .icon-block {
      width: 25px;
      height: 25px;
    }
  }

  

#homepage { 
    background-color: aliceblue;
        }
#aboutpage{
    background-color:cornsilk;
        }
#workpage{
        background-color: honeydew
        }
