

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    }
nav {
    text-align: right;
}

h2 {
    color: blue;
    text-align: center;
        }

ul, ol {
    color:cadetblue;
}

blockquote {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 4em;
    }

#profile_pic    {
    float: right; width: 150px; height: 150px; overflow: hidden; border-radius: 50%; 
    object-fit: cover;
    object-position: 50% 30%;
    margin: 1em;
    border: 3px solid darkblue;
    } 

#profile_pic{ 
    -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
#profile_pic:hover, #profile_pic:focus, #profile_pic:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
    
footer {
    font-size: 12px;
    margin-top: 5em;
    text-align: center;
}


/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0 !important;
        }

    ul.icons.major {
        padding: 1em 0;
    }

        ul.icons.major li {
            padding-right: 3.5em;
        }

            @media screen and (max-width: 736px) {

                ul.icons.major li {
                    padding: 0 1em !important;
                }

            }


            .section {
                margin: 20px;
                padding: 10px;
            }
            
            .grid-gallery {
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                gap: 20px; 
                justify-content: space-between; 
                margin: 0 auto;
            }
            
            .grid-item {
                position: relative;
                overflow: hidden;
                aspect-ratio: 2 / 3; 
            }
            
            .grid-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                transition: transform 0.3s ease, opacity 0.3s ease;
            } 
            
            .grid-item:hover img {
                opacity: 0.3;
                transform: scale(1.1);
            }
            
            .grid-gallery-item-content {
                text-decoration: none;
                display: block;
                color: #16425B;
            }
            
            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
            
            .grid-item:hover .overlay {
                opacity: 1;
            }
            
            .title {
                font-size: 20px;
                margin: 0;
            }
            
            .subtitle {
                font-size: 14px;
                margin: 0;
            }
            
            @media screen and (max-width: 900px) {
                .grid-gallery {
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    gap: 20px;
                }
            }

#homepage { 
    background-color: aliceblue;
        }
#aboutpage{
    background-color:cornsilk;
        }
#workpage{
        background-color: honeydew
        }
