

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    }
nav {
    text-align: right;
}

h2 {
    color: blue;
    text-align: center;
        }

ul, ol {
    color:cadetblue;
}

blockquote {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 4em;
    }

#profile_pic    {
    float: right; width: 150px; height: 150px; overflow: hidden; border-radius: 50%; 
    object-fit: cover;
    object-position: 50% 30%;
    margin: 1em;
    border: 3px solid darkblue;
    } 

#profile_pic{ 
    -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
#profile_pic:hover, #profile_pic:focus, #profile_pic:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
    
footer {
    font-size: 12px;
    margin-top: 5em;
    text-align: center;
}


/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0 !important;
        }

    ul.icons.major {
        padding: 1em 0;
    }

        ul.icons.major li {
            padding-right: 3.5em;
        }

            @media screen and (max-width: 736px) {

                ul.icons.major li {
                    padding: 0 1em !important;
                }

            }

.grid-gallery {
                display: grid;
                /* Set 3 columns for wide screens */
                grid-template-columns: repeat(3, 1fr);
                gap: 40px;
                margin-left: 50px;
                margin-right: 50px;
            }
        
            
        
            /* Responsive adjustments */
            @media screen and (max-width: 900px) {
                .grid-gallery {
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                }
            }
            
        
             .grid-item {
                padding: 10px;
                background-color: transparent;
                text-align: center;
                border-radius: 20px;
                position: relative;
                overflow: hidden;
                aspect-ratio: 1 / 1;
              }
        
             .grid-item img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 20px;
              }
        
              .grid-gallery-item-content {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: white
            }
            
            .grid-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.3s ease;
                transition: transform 0.3s ease-in-out;
            }
        
        
            
            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        
            
            .title, .subtitle {
                margin: 0;
                padding: 0;
                color: #16425B;
            }
            
            .title {
                font-size: 20px;
            }
            
            .subtitle {
                font-size: 14px;
                text-transform: lowercase;
            }
            
            /* Hover Effects */
            .grid-item:hover img {
                opacity: 0.2;
                transform: scale(1.2);
            }
            
            .grid-item:hover .overlay {
                opacity: 1;
            }

#homepage { 
    background-color: aliceblue;
        }
#aboutpage{
    background-color:cornsilk;
        }
#workpage{
        background-color: honeydew
        }
